<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %> 
  <%= link_to gravatar_for(User.find_by(name: micropost.dstuser), size:50), User.find_by(name: micropost.dstuser) %>
  <span class="user"><br>送信元：<%= link_to micropost.user.name, micropost.user %></span>
  <span class="user"><br>送信先：<%= link_to micropost.dstuser, User.find_by(name: micropost.dstuser) %></span>



  <!--
  <%= content_tag :span, "", class: "glyphicon glyphicon-heart-empty" %>
  -->

  <span class="content">
  <br><%=safe_join(micropost.content.split("\n"),tag(:br))%>
  </span>
  <span class="timestamp">
    <br> <%= time_ago_in_words(micropost.created_at) %>前に投稿
    <% if current_user?(micropost.user) %>
      <br><%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <%= render "likes/like", micropost: micropost %>
</li>